html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita el scroll */
}
.header {
    width: 100vw;
    height: 6vh;
    background: linear-gradient(to right, #175be2, #06c6f3);
    color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    box-shadow: 0 0.65vh 1.6vh rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 2;
  }
  
  .logo-img {
    height: 80%; /* adapta al alto del header */
    max-height: 40px;
    margin-right: 1vw;
  }
  
  .header-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  