html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita el scroll */
}

.login-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), /* Capa negra con opacidad */
    url('/assets/images/backgif.gif') no-repeat center center;
    background-size: cover;
    padding: 1.25rem;
    overflow-y: auto;
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 450px), (max-height: 43.75rem) {
    .login-container {
        min-width: 28.125rem; /* 450px en rem */
        min-height: 43.75rem; /* 700px en rem */
    }

    /* Ajusta la fuente para mejorar legibilidad en pantallas pequeñas */
    .login-box, .actions, .footer {
        font-size: 0.875rem; /* 14px */
    }
}

.login-failed-container {
    height: 0.625rem; /* 10px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-failed-message {
    text-align: center;
    font-size: 1.2;
    color: #ff4d4f;
    font-weight: bold;
    margin-top: 0.125rem;
}

.email-error-container {
    height: 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: #ff4d4f;
    font-size: 0.875rem;
    margin-top: -0.625rem;
    text-align: left;
    font-weight: 500;
}

.title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #00ccff, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}

.login-box {
    width: 90%;
    max-width: 28.125rem; /* 450px */
    min-width: 28.125rem;
    padding: 2.5rem; /* 40px */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23252b;
    box-shadow: 0 0.9375rem 1.5625rem rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 1.25rem;
}

.login-box h2 {
    margin: 0 0 1.25rem;
    padding: 0;
    color: #ffffff;
}

.textbox {
    position: relative;
    margin-bottom: 1.5625rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.3125rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.textbox label {
    position: absolute;
    top: 65%;
    left: 0.625rem;
    transform: translateY(-80%);
    font-size: 1rem;
    color: #f5f5f5;
    transition: all 0.3s ease;
    pointer-events: none;
}

.textbox input {
    width: 100%;
    padding: 0.625rem;
    background: transparent;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.textbox input:focus ~ label,
.textbox input:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 0.75rem;
    color: #00eeff;
}

.textbox input:focus {
    border-bottom: 0.125rem solid #00eeff;
    box-shadow: 0 0 0.5rem #00eeff;
}

.textbox input::placeholder {
    color: transparent;
}

.btn {
    width: 100%;
    background-color: #007bff;
    border: none;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.625rem;
}

.btn:hover {
    background-color: #0056b3;
}

.forgot-password-container {
    text-align: left;
    margin-top: -1.25rem;
}

.forgot-password {
    font-size: 1rem;
    color: #b3b3b3;
    text-decoration: none;
}

.forgot-password:hover {
    color: #00eeff;
    text-decoration: underline;
}

.register-link {
    color: #00eeff;
    font-weight: bold;
    text-decoration: none;
}

.forgot-password:hover,
.register-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.actions {
    width: 28.125rem;
    min-width: 18.75rem;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    margin-top: 1.25rem;
}

.actions .btn {
    width: 100%;
    background-color: #007bff;
    border: none;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.875rem;
    height: 3.5rem;
}

.actions .btn:hover {
    background-color: #0056b3;
}

.actions .register-text {
    margin-top: 0.625rem;
    color: white;
    font-size: 0.9375rem;
}

.actions .register-text .register-link {
    color: #6d29ff;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9375rem;
}

.actions .register-text .register-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.password-box {
    display: flex;
}

.toggle-password {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00eeff;
    font-size: 0.875rem;
    font-weight: bold;
}

.toggle-password:hover {
    color: #ffffff;
}

.back-btn {
    display: flex;
    top: 0.9375rem;
    left: 0.9375rem;
    font-size: 0.875rem;
    background-color: #007bff;
    color: white;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.3125rem;
    text-decoration: none;
    font-weight: bold;
    z-index: 3;
}

.back-button-container {
    position: fixed;
    bottom: 6vh;
    left: 1vw;
    z-index: 100;
}

.back-button {
    background-color: #007bff;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    color: white;
    font-size: 0.875rem;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}
