.logo-container {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* superior al login */
  pointer-events: none; /* no bloquea clics */
}

.logo-only {
  max-width: 240px; /* ajústalo más grande si quieres */
  height: auto;
  filter: drop-shadow(0 0 15px rgba(0, 153, 255, 0.6));
  opacity: 0.95;
}


/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 450px), (max-height: 43.75rem) {
    .register-container {
        min-width: 28.125rem; /* 450px en rem */
        min-height: 43.75rem; /* 700px en rem */
    }

    /* Ajusta la fuente para mejorar legibilidad en pantallas pequeñas */
    .register-box, .actions, .footer {
        font-size: 0.875rem; /* 14px */
    }
}
