
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(28, 28, 28, 0.95);
    padding: 1.1vh 2.2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 -0.22vh 0.55vh rgba(0, 0, 0, 0.5);
    z-index: 10;
    font-family: "Poppins", sans-serif; /* Fuente más moderna */
}

.footer-content {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3.3vh;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 2.2vh;
    padding: 0;
    margin: 0;
}

.footer-links li a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 1.54vh;
    font-weight: 500;
}

.footer-links li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-info {
    font-size: 1.32vh;
    color: #b3b3b3;
    text-align: right;
    margin-left: auto;
    margin-right: 5vh; /* Agrega margen a la derecha */
    font-weight: 600; /* Un poco más gruesa */
}
