<app-header></app-header>

<div class="register-container">
    <div class="register-box">
        <h2>Creación de Cuenta</h2>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-column">
                    <!-- Nombre -->
                    <div class="textbox">
                        <input type="text" id="nombre" placeholder="Nombre" [(ngModel)]="nombre" name="nombre" required (keydown.enter)="focusNext('apellido')"/>
                        <label for="nombre">Nombre*</label>
                    </div>
                <div class="form-grid">
                    <!-- Apellido -->
                    <div class="textbox">
                        <input type="text" id="apellido" placeholder="Apellido" [(ngModel)]="apellido" name="apellido" required (keydown.enter)="focusNext('apellido2')"/>
                        <label for="apellido">Primer Apellido*</label>
                    </div>
                    <!-- Apellido2 -->
                    <div class="textbox">
                        <input type="text" id="apellido2" placeholder="Apellido2" [(ngModel)]="apellido2" name="apellido2" required (keydown.enter)="focusNext('email')"/>
                        <label for="apellido2">Segundo Apellido*</label>
                    </div>
                </div>
                    <!-- Correo Electrónico -->
                    <div class="textbox">
                        <input 
                            type="email" 
                            id="email" 
                            placeholder="Correo Electrónico" 
                            [(ngModel)]="email" 
                            name="email" 
                            required 
                            (blur)="validateEmail()"
                            (keydown.enter)="focusNext('centro')"/>
                        <label for="email">Correo Electrónico*</label>
                    </div>
                    <div class="error-container">
                        <div *ngIf="emailInvalid" class="error-message">
                            <small>El correo electrónico no tiene un formato válido.</small>
                        </div>
                    </div>
                <div class="form-grid">
                    <!-- Contraseña -->
                    <div class="textbox password-box">
                        <input type="password" id="password1" placeholder="Contraseña" name="password1" [(ngModel)]="password1" required (keydown.enter)="focusNext('password2')"/>
                        <label for="password1">Contraseña*</label>
                        <span class="toggle-password" (click)="togglePasswordVisibility1()" (keypress)="togglePasswordVisibility1()">{{ passwordVisible1 ? 'Ocultar' : 'Mostrar' }}</span>
                    </div>
                    
                    <!-- Repetir Contraseña -->
                    <div class="textbox password-box">
                        <input type="password" id="password2" placeholder="Repetir Contraseña" name="password2" [(ngModel)]="password2" />
                        <label for="password2">Repetir Contraseña*</label>
                        <span class="toggle-password" (click)="togglePasswordVisibility2()" (keypress)="togglePasswordVisibility2()">{{ passwordVisible2 ? 'Ocultar' : 'Mostrar' }}</span>
                    </div>
                </div>
                
                <div class="form-grid">
                    <div class="error-message" *ngIf="passwordError">{{ passwordError }}</div>
                    <div class="error-message" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</div>
                </div>

                <p class="required-info">Los campos(*) son obligatorios.</p>
            </div>
        </form>
        <div class="actions">
            <button class="btn" (click)="registerForm.ngSubmit.emit()">Acceder</button>
            <p class="login-text">
                ¿Ya tienes una cuenta? <a routerLink="/login" class="login-link" (click)="navigateTo('/login')">INICIAR SESIÓN</a>
            </p>
        </div>
        
    </div>

    <div class="back-button-container">
        <button class="back-button" (click)="navigateTo('/')">Volver</button>
    </div>
</div>
<app-footer></app-footer>